.wrapper {
    height: 100%;
    background: transparent;
}

.header {
    background-color: transparent;
    height: 15%;
    border-radius: 10px;
    overflow: hidden;
}

.wrapperMain {
    background: transparent;
}

.wrapperSider {
    background: transparent;
    /* border: 1px solid black; */
}

.wrapperSider > div > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}
