.container {
    height: 100%;
}

.container > section {
    height: 100%;
    background: url(/images/background.jpg) no-repeat;
    background-size: 100% 100% 
}

.wrapper {
    height: 100%;
    background: transparent;
}

.wrapper__main {
    background: transparent;
}

.header {
    background-color: transparent;
    height: 15%;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper__sider {
    background: transparent;
    /* border: 1px solid black; */
}

.wrapper__sider > div > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper__content {
    /* border: 1px solid black; */
}

.ant-progress-inner {
    background: rgb(223, 217, 217) !important;
}

.ant-tree-node-content-wrapper {
    background-color: rgb(41, 189, 226);
    border-radius: 10px !important;
    color: white;
}

.ant-tree-node-selected {
    background-color: transparent !important;
    color: red !important;
}

.ant-tree-node-selected a {
    background-color: transparent !important;
    color: red !important;
}


